<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- <div class="alert alert-info alert-dismissible">
            <h6><i class="icon fa fa-info"></i> This is a sample Dashboard which doesn't show any server side data.
              However, you can develop your own dashboard inspired by this one and its source code.</h6>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>12</h3>
              <p>Dietas Prescritas</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers"
              class="small-box-footer"
              target="_blank">
              Mais informações
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>12</h3>
              <p>Pacientes Atendidos</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer"
              target="_blank">
              Mais informações
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>8</h3>
              <p>Pacientes Aguardando</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank">
              Mais informações
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>30</h3>
              <p>Total de Pacientes no dia</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
              class="small-box-footer"
              target="_blank">
              Mais informações
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Dietas com Proteínas</span>
              <span class="info-box-number">
                6
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Dietas com Glicose</span>
              <span class="info-box-number">
                4
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Dietas com Eletrólitos</span>
              <span class="info-box-number">
                6
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Dietas com Vitaminas</span>
              <span class="info-box-number">
                2
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Quadro de Staus</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Paciente</th>
                    <th class="w-25">Dieta</th>
                    <th class="w-25">Duração</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5452"
                        target="_blank">
                        Maria
                      </a>
                    </td>
                    <td>Vitaminas</td>
                    <td>
                      <span class="badge badge-secondary mx-1">
                        6 meses
                      </span>
                      <!-- <span class="badge badge-primary mx-1">
                        250 ml
                      </span> -->
                    </td>
                    <td>250 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5391"
                        target="_blank">
                        José
                      </a>
                    </td>
                    <td>
                      Sais Minerais
                    </td>
                    <td>
                      <span class="badge badge-danger mx-1">
                        1 mês
                      </span>
                      <!-- <span class="badge badge-success mx-1">
                        pull request candidate
                      </span> -->
                    </td>
                    <td>50 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        Pedro
                      </a>
                    </td>
                    <td>Proteínas</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        2 meses
                      </span>
                      <!-- <span class="badge badge-info mx-1">enhancement</span> -->
                    </td>
                    <td>150 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        Joaquim
                      </a>
                    </td>
                    <td>Eletrólitos</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        2 meses
                      </span>
                      <!-- <span class="badge badge-info mx-1">enhancement</span> -->
                    </td>
                    <td>100 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        Orlando
                      </a>
                    </td>
                    <td>Proteínas</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        3 meses
                      </span>
                      <!-- <span class="badge badge-info mx-1">enhancement</span> -->
                    </td>
                    <td>250 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        Cristina
                      </a>
                    </td>
                    <td>Vitaminas</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        6 meses
                      </span>
                      <!-- <span class="badge badge-info mx-1">enhancement</span> -->
                    </td>
                    <td>260 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        Ivone
                      </a>
                    </td>
                    <td>Sais Minerais</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        2 meses
                      </span>
                      <!-- <span class="badge badge-info mx-1">enhancement</span> -->
                    </td>
                    <td>150 ml</td>
                    <td>Aguardando Retorno</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Closed Pull Requests</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Milestone</th>
                    <th>Date</th>
                    <th>Made by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5430"
                        target="_blank">
                        5430
                      </a>
                    </td>
                    <td>
                      Added Dynamic-Parameter-System doc to documentation menu
                    </td>
                    <td>v5.6</td>
                    <td>18 days ago</td>
                    <td>maliming</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5362"
                        target="_blank">
                        5362
                      </a>
                    </td>
                    <td>
                      Dynamic Parameter Module
                    </td>
                    <td>v5.4</td>
                    <td>25 days ago</td>
                    <td>demirmusa</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4924"
                        target="_blank">
                        4924
                      </a>
                    </td>
                    <td>
                      ASP.NET Core 3.0 Upgrade
                    </td>
                    <td>v5.0</td>
                    <td>Oct 15</td>
                    <td>ismcagdas</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
